form{
    padding-right: 10px;
}

.layui-form-switch{
    text-align: right;
}

.layui-form-switch:before{
    content: 'No' !important;
}

.layui-form-onswitch{
    text-align: left;
}

.layui-form-onswitch:before{
    content: 'Yes' !important;
}

.layui-form-item .layui-input-inline{
    width: 550px;
}