body{
    background: #f1f1f1;
    overflow: hidden;
}

#page-wrap{
    width: 100%;
}

.user-info{
    width: 210px;
    height: 60px;
    padding: 10px;
    background: #009688;
}

.user-info img{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 100px;
}

.user-info div{
    width: 140px;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    color: #fbfbfb;
    font-weight: bolder;
    line-height: 1.8;
}

.user-info div p a{
    color: #fbfbfb;
}

.user-info .sign-out{
    width: 26px;
    height: 28px;
    position: absolute;
    right: 5px;
    top: 20px;
}

.user-info .sign-out a{
    color: #fbfbfb;;
}

.layui-nav-tree{
    width: 230px;
}

#page-content{
    padding-left: 230px;
}

.top-bar{
    height:70px;
    line-height: 70px;
}

.logo{
    width: 400px;
    color: #a2a2a2;
    font-size: 30px;
    padding-left: 20px;
    float: left;
}

.top-nav{
    width: 250px;
    float: right;
    text-align: right;
}

.top-nav .layui-breadcrumb{
    margin-right: 10px;
}

.top-nav .layui-breadcrumb a{
    font-size: 16px;
    color: #a2a2a2 !important;
}

.page-main{
    background: white;
    height: 2000px;
}

.layui-tab-card{
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.layui-tab-card>.layui-tab-title{
    background: #fafafa !important;
}

.layui-tab-card>.layui-tab-title .layui-this{
    background: #009688 !important;
    color: white !important;
}

.layui-tab-title{
    border-bottom: 2px solid #009688 !important;
}

.layui-tab-title .layui-this:after{
    border: none !important;
}

.layui-tab-content{
    padding: 0;
}

.tab-main{
    border: 0;
    width: 100%;
}

.nav-tree-mobile{
    display: none;
}

@media screen and (max-width: 900px){
    .user-info{
        width: 210px;
        height: 40px;
        padding: 10px;
        background: #009688;
        float: right;
    }

    .user-info img{
        width: 40px;
        height: 40px;
        float: left;
        border-radius: 100px;
    }

    .user-info div{
        width: 140px;
        height: 40px;
        margin-left: 10px;
        margin-top: -2px;
        float: left;
        color: #fbfbfb;
        font-weight: bolder;
        line-height: 1.5;
    }

    .user-info .sign-out{
        width: 26px;
        height: 28px;
        position: absolute;
        right: 25px;
        top: 18px;
    }

    .user-info .sign-out a{
        color: #fbfbfb;;
    }

    #page-content{
        padding-left: 0;
    }
}

@media screen and (max-width: 670px){
    .top-nav{
        display: none;
    }
}