.dataTable{
    width: 100%;
    margin-bottom: 40px;
}

select{
    width: 60px;
    padding: 5px;
    background: none;
}

input{
    padding: 5px;
}

input[type=checkbox]{
    width: 18px;
    height: 18px;
}

thead{
    color: #707070;
    /*background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);*/
    background: #f2f2f2;
}

table.dataTable thead th{
    font-weight: bold;
    font-size: 14px;
    color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #009688 !important;
}

.dataTables_info, .dataTables_paginate{
    margin-top: -40px;
}

.dataTable .layui-nav{
    position: static;
    background: none !important;
    padding: 0;
}

.dataTable .layui-nav .layui-nav-item{
    line-height: 30px;
    background: #4f9d61;
    border-radius: 5px;
}

.layui-nav .layui-nav-item>a{
    color: white;
}

.dataTable .layui-nav .layui-nav-more{
    top: 13px;
    border-color: #ffffff transparent transparent;
}

.dataTable .layui-nav-child{
    top: 35px;
}

.dataTable .layui-nav .layui-this:after, .dataTable .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
    background-color: transparent !important;
}

.main-title{
    height:23px;
    line-height: 23px;
}

.main-title h1{
    width: 25%;
    float: left;
}

.main-title .toolbar{
    width: 75%;
    float: left;
    text-align: right;
}